doctype html 
html 
    head 
       title contact 
       style 
          include style.css 
    body 
       include ./header.pug

       p 
         |Vous pouvez nous contacter sur l'adresse mail suivante 
         strong #{email} 
         |ou sur #{number}!      